/bin
/build
/ipch
/images
*.sdf
*.opensdf
*.suo
*.user
*.log
*.settings
*.suppress
*.gch
*.plist
*.exe
*.zip
*.tif
.vs
My*
*sublime*
Makefile
Thumbs.db
.directory
.DS_Store
.qmake.stash
CellVision.app
